.App {
  text-align: center;
  background-color: #4160a8;
}

.App h1 {
  color: #ff9b29;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}