.card {
    background-color: #709ced;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(210, 66, 66, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    direction: rtl;
    flex: 1 1 calc(50% - 10%);
}

.card-title {
    font-size: 20px;
    margin-bottom: 15px;
    color: #ff9b29;
}

.card p {
    font-size: 18px;
    margin: 5px 0;
}

.card .weather-icon {
    font-size: 48px;
    margin-bottom: 10px;
}

.card .description {
    font-style: italic;
    color: #34e9ec;
}

.card .temperature {
    font-size: 20px;
    font-weight: bold;
}